/*----- Medias Queries -----*/
@media screen and (min-width: 300px) and (max-width: 375px){
    .foreground{
        background-size: 60% !important;
        background-position: bottom;
    }
    .foreground-home{
        background-size: 70% !important;
    }
    .foreground-home h2{
        width: 90% !important;
        top: 25% !important;
        left: 8%;
        font-size: 20px;
    }

    .gallery-wallstreet{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 auto;
    }

    .spool{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool2{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool-item:nth-child(even), 
    .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .spool2 .spool-item:nth-child(even), 
    .spool2 .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }
}
@media screen and (min-width: 300px) and (max-width: 599px){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    .hidden{
        display: flex !important;
        visibility: visible !important;
    }

    .section{
        padding: 10px 25px !important; 
    }

    .foreground{
        background-size: 80%;
        background-position: bottom;
    }

    .foreground-home{
        background-size: 90%;
    }
    .foreground-home h2{
        width: 90% !important;
        top: 25%;
        left: 8%;
        font-size: 18px;
    }

    .writer{
        top: 10% !important;
        width: 90%;
    }
    
    .writer h1, .writer span{
        font-size: 50px;
    }

    .buttons-index{
        top: 79%;
        gap: 5px !important;
        justify-content: space-evenly !important;
    }

    .btn-index span{
        font-size: 18px !important;
    }

    .media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; 
    }
      
    .media-body {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; 
    }

    .text-commitment{
        display: flex;
        flex-direction: column;
    }
    .text-commitment img{
        width: 100%;
    }
    .btn-signUp{
        width: 80%;
        margin: 0 auto;
    }

    .gallery-wallstreet{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 auto;
    }

    .spool{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool2{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool-item:nth-child(even), 
    .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .spool2 .spool-item:nth-child(even), 
    .spool2 .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .arrow {
        padding: 9px;
      }

    .arrow .one-way-arrow1{
        width: 29px;
        height: 29px;
        transition: 0.5s;
        cursor: pointer;
        transform: rotate(45deg);
        border-bottom: 8px solid #FFFFFF;
        border-left: 8px solid #FFFFFF;
        z-index: 1;
      }
      .arrow .one-way-arrow2{
        width: 60px;
        height: 18px;
        background-color: #FFFFFF;
        margin-left: -25px;
      }
      .arrow .one-way-arrow2 p{
        margin-top: -4px;
        margin-left: -10px;
        font-size: 15px;
        font-weight: bold;
      }

    .banner div{
        width: 100% !important;
        height: 45vh !important;
        margin: 0 auto !important;
    }

    .new-cards{
        flex-direction: column !important;
    }
    .card-new{
        width: 95% !important;
    }

    .projects h2{
        text-align: center;
        margin-bottom: 15% !important;
    }

    .card, .card-complete{
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .description {
        font-size: 15px !important;
		grid-row: 2/7 !important;
    }
    .price{
        font-size: 18px !important;
        margin-top: 12% !important;
    }

    .confidence{
        flex-direction: column;
    }
    .card-confidence{
        width: 100%;
        height: 45vh;
        font-size: 11px;
    }

    .card-acces{
        width: 95% !important;
    }

    a.arrow__btn {
        display:none;
    }

    .testimonials{
        height: auto !important;
    }

    .card-team2{
        flex-direction: column;
    }

    #contact{
        padding: 10px 10px !important;
    }

    .contact{
        flex-direction: column-reverse;
    }

    .form{
        width: 100% !important;
    }

    .cta, .social-media, .copyright{
        text-align: center;
        font-size: 12px !important;
    }

    .links-footer{
        display: flex !important;
        width: 30%;
    }

    .container .row{
        flex-direction: column-reverse;
    }

    .count{
        flex-direction: column;
    }

    .content-scroll{
        width: 50%;
        left: 25%;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    .hidden{
        display: flex !important;
        visibility: visible !important;
    }

    .section{
        padding: 10px 25px !important; 
    }

    .foreground{
        background-size: 80%;
        background-position: bottom;
    }

    .foreground-home{
        background-size: 60%;
    }
    .foreground-home h2{
        width: 90% !important;
        top: 18%;
        left: 14%;
        font-size: 30px;
    }

    .writer{
        top: 10% !important;
        width: 90%;
    }
    
    .writer h1, .writer span{
        font-size: 50px;
    }

    .buttons-index{
        top: 79%;
        gap: 5px !important;
        justify-content: space-evenly !important;
    }

    .btn-index span{
        font-size: 18px !important;
    }

    .media {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; 
    }
      
    .media-body {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1; 
    }

    .text-commitment{
        display: flex;
        flex-direction: column;
    }
    .text-commitment img{
        width: 100%;
    }
    .btn-signUp{
        width: 80%;
        margin: 0 auto;
    }

    .gallery-wallstreet{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 auto;
    }

    .spool{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool2{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool-item:nth-child(even), 
    .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .spool2 .spool-item:nth-child(even), 
    .spool2 .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

        .arrow {
        padding: 9px;
      }

    .arrow .one-way-arrow1{
        width: 35px;
        height: 35px;
        transition: 0.5s;
        cursor: pointer;
        transform: rotate(45deg);
        border-bottom: 12px solid #FFFFFF;
        border-left: 12px solid #FFFFFF;
        z-index: 1;
      }
      .arrow .one-way-arrow2{
        width: 70px;
        height: 20px;
        background-color: #FFFFFF;
        margin-left: -25px;
      }
      .arrow .one-way-arrow2 p{
        margin-top: -3px;
        margin-left: -5px;
        font-size: 15px;
        font-weight: bold;
      }

    .banner div{
        width: 100% !important;
        height: 45vh !important;
        margin: 0 auto !important;
    }

    .new-cards{
        width: 90% !important;
        flex-direction: column !important;
    }
    .card-new{
        width: 66% !important;
        height: 95vh !important;
    }
    .card-new h2{
        text-align: center;
        font-size: 2.5rem;
        width: 70%;
      }
      .card-new ul{
        width: 80%;
      }
      .card-new li{
        width: 100%;
      }

    .projects h2{
        text-align: center;
        margin-bottom: 15% !important;
    }

    .card, .card-complete{
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .description {
        font-size: 15px !important;
		grid-row: 2/7 !important;
    }
    .price{
        font-size: 18px !important;
        margin-top: 12% !important;
    }

    .confidence{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }
    .card-confidence{
        width: 42%;
        height: 45vh;
        font-size: 10px;
    }
    .card-confidence h4{
        font-size: 20px;
    }

    .testimonials{
        height: auto !important;
    }

    .card-team2{
        flex-direction: column;
    }

    #contact{
        padding: 10px 10px !important;
    }

    .contact{
        flex-direction: column-reverse;
    }


    .form{
        width: 100% !important;
    }

    .cta, .social-media, .copyright{
        text-align: center;
        font-size: 12px !important;
    }

    .links-footer{
        display: flex !important;
        width: 30%;
    }

    .container .row{
        flex-direction: column-reverse;
    }

    .count{
        flex-direction: column;
    }

    .content-scroll{
        width: 50%;
        left: 25%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1000px){
    .foreground{
        background-size: 35%;
        background-position: bottom;
    }

    .foreground-home{
        background-size: 70%;
    }
    .foreground-home h2{
        width: 90% !important;
        top: 15%;
        left: 8%;
        font-size: 30px;
    }

    .writer{
        top: 10% !important;
        width: 40%;
    }
    
    .writer h1, .writer span{
        font-size: 50px;
    }

    .buttons-index{
        top: 79%;
        gap: 5px !important;
        justify-content: space-evenly !important;
    }

    .btn-index span{
        font-size: 18px !important;
    }

    .gallery-wallstreet{
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        margin: 0 auto;
    }

    .spool{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool2{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .spool-item:nth-child(even), 
    .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .spool2 .spool-item:nth-child(even), 
    .spool2 .spool-item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .card-acces{
        width: 47% !important;
    }

    .new-cards{
        width: 100% !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .card-new{
        width: 45% !important;
        height: 95vh !important;
    }
    .card-new h2{
        text-align: center;
        font-size: 2.5rem;
        width: 70%;
      }
      .card-new ul{
        width: 80%;
      }
      .card-new li{
        width: 100%;
      }


    .card, .card-complete{
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .description {
        font-size: 15px !important;
		grid-row: 2/7 !important;
    }
    .price{
        font-size: 18px !important;
        margin-top: 12% !important;
    }
}

